# Environments
.env
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Build & Distribution
build/
dist/
*.egg-info/
*.egg

# Testing
.pytest_cache/
htmlcov/
.coverage

# Logs
*.log

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS temporary files
.DS_Store
Thumbs.db
